[submodule "skeleton-mapping"]
	path = skeleton-mapping
	url = https://github.com/lacykaltgr/skeleton-mapping.git
[submodule "hworldmodel"]
	path = hworldmodel
	url = https://github.com/lacykaltgr/hworldmodel
	branch = mokk_navigation
[submodule "visualizer"]
	path = visualizer
	url = https://github.com/lacykaltgr/visualizer.git
