# Ignore python cache files
**/__pycache__/*
__pycache__/*
*.pyc
*.pyo
*.cpython-*
*.pyc

# Ignore copied conda env files
docker/conda_environments

# Ignore ros workspace build files
**/build
**/install
**/log

# Ignore python build files (.eggs, .egg-info, dist)
**/*.egg
**/*.egg-info
**/dist

# Ignore log files
*.log
*.hydra/*
conceptfusion-compact/cf_compact/outputs/


# Ignore large files (model files)
*.sam_l.pt
*.yolov8l-world.pt
**.sam_l.pt
**.yolov8l-world.pt



